@import './colors';

.container-banner{
    width: 100%;
    height: 20vh;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-text{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-pink;
        h1{
            color: #fff;
            font-size: 3rem;
        }
    }
}