@import './colors';

.container-header{
    width: 100%;
    height: 15vh;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header;
    margin-bottom: 1rem;

    .header-mobile{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .bee-container{
            position: fixed;
            top: 5px;
            left: 5px;
            width: 75px;
            height: 75px;
            z-index: 15;
            background: none;
            transition: all 250ms ease-in-out;

            &.active{
                visibility: visible;
                animation: fadeIn 0.75s;
                -webkit-animation: fadeIn 0.75s;
                -moz-animation: fadeIn 0.75s;
                -o-animation: fadeIn 0.75s;
                -ms-animation: fadeIn 0.75s;
            }

            &.disabled{
                animation: fadeOut 0.75s;
                -webkit-animation: fadeOut 0.75s;
                -moz-animation: fadeOut 0.75s;
                -o-animation: fadeOut 0.75s;
                -ms-animation: fadeOut 0.75s;
                visibility: hidden;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        
        .logo-container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: auto;
                height: 100%;
            }
        }
    }

    .header-desktop{
        width: 100%;
        height: 100%;
        min-height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo-container{
            width: 45%;
            height: 50%;
            max-height: 75px;
            max-width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: auto;
                max-height: auto;
            }
        }

        .links{
            width: 55%;
            max-width: 550px;
            height: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            button{
                color: $primary-gold;
                font-size: 1.5rem;
                width: 25%;
                max-width: 100px;
                text-align: center;
                text-decoration: none;
                border-bottom: 3px solid transparent;
                transition: all 250ms ease-in;
                background: none;
                &:visited{
                    color: $primary-gold;
                }
                &:hover{
                    border-color: $primary-pink;

                }
            }
        }
    }
}





@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }





// Common breakpoints will be removed at later time
// 320px — 480px: Mobile devices.
// 481px — 768px: iPads, Tablets.
// 769px — 1024px: Small screens, laptops.
// 1025px — 1200px: Desktops, large screens.
// 1201px and more — Extra large screens, TV.