.container-work{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container-projects{
        height: 100%;
        display: grid;
        &.mobile{
            width: 98%;
            grid-template-columns: repeat(2, 1fr);
        }
    
        &.desktop{
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
        }
        grid-template-rows: auto;
        gap: 10px;
    }
}